<h3>Logistic Regression</h3>

In [1]:
import pandas as pd

beerh = pd.read_csv("D:\\MachineLearning\\DataSets\\beerh.csv")

In [2]:
beerh.head()

   ID         BEER  CAL  SOD  ALC  COST
0   1    Budweiser  144   15  4.7  0.43
1   2      Schlitz  151   19  4.9  0.43
2   3    Lowenbrau  157   15  4.9  0.48
3   4  Kronenbourg  170    7  5.2  0.73
4   5     Heineken  152   11  5.0  0.77

In [3]:
beerh.tail()

    ID           BEER  CAL  SOD  ALC  COST
15  16          Pabst   68   15  2.3  0.38
16  17          Hamms  136   19  4.4  0.43
17  18      Heilemans  144   24  4.9  0.43
18  19        Olympia   72    6  2.9  0.46
19  20  Schilitz lite   97    7  4.2  0.47

In [4]:
beerh.shape

(20, 6)

In [5]:
beerh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      20 non-null     int64
 1   BEER    20 non-null     object
 2   CAL     20 non-null     int64
 3   SOD     20 non-null     int64
 4   ALC     20 non-null     float64
 5   COST    20 non-null     float64
dtypes: float64(2), int64(3), object(1)
memory usage: 1.1+ KB

In [6]:
beerh.describe()

             ID         CAL        SOD        ALC       COST
count  20.00000   20.000000  20.000000  20.000000  20.000000
mean   10.50000  132.400000  14.950000   4.440000   0.496000
std     5.91608   30.257491   6.581273   0.759778   0.143908
min     1.00000   68.000000   6.000000   2.300000   0.280000
25%     5.75000  110.250000   9.500000   4.200000   0.430000
50%    10.50000  144.000000  15.000000   4.650000   0.440000
75%    15.25000  150.250000  19.000000   4.900000   0.485000
max    20.00000  175.000000  27.000000   5.500000   0.790000

In [7]:
beerh.describe(include =['object'])

             BEER
count          20
unique         20
top     Budweiser
freq            1

In [8]:
beerh.iloc[:,:]

    ID            BEER  CAL  SOD  ALC  COST
0    1       Budweiser  144   15  4.7  0.43
1    2         Schlitz  151   19  4.9  0.43
2    3       Lowenbrau  157   15  4.9  0.48
3    4     Kronenbourg  170    7  5.2  0.73
4    5        Heineken  152   11  5.0  0.77
5    6         Old Mil  145   23  4.6  0.28
6    7      Augsburger  175   24  5.5  0.40
7    8          Strohs  149   27  4.7  0.42
8    9     Miller lite   99   10  4.3  0.43
9   10       Bud light  113    8  3.7  0.44
10  11           Coors  140   18  4.6  0.44
11  12      Coors lite  102   15  4.1  0.45
12  13  Michelob light  135   11  4.2  0.50
13  14           Becks  150   19  4.7  0.76
14  15           Kirin  149    6  5.0  0.79
15  16           Pabst   68   15  2.3  0.38
16  17           Hamms  136   19  4.4  0.43
17  18       Heilemans  144   24  4.9  0.43
18  19         Olympia   72    6  2.9  0.46
19  20   Schilitz lite   97    7  4.2  0.47

In [9]:
beerh.loc[0:3,['BEER','CAL']]

          BEER  CAL
0    Budweiser  144
1      Schlitz  151
2    Lowenbrau  157
3  Kronenbourg  170

In [10]:
beerh[['BEER','CAL']].sort_values('CAL')[0:5]

             BEER  CAL
15          Pabst   68
18        Olympia   72
19  Schilitz lite   97
8     Miller lite   99
11     Coors lite  102