In [1]:
# Pandas is used to analyze data.
# The name "Pandas" has a reference to both "Panel Data", and "Python Data Analysis" 
# as pd :- refrence or short form for pandas
import pandas as pd

# read_csv("file path") :- read cvs type files
ipl = pd.read_csv("C:\\Users\\SAKSHI BADOLA\\Documents\\MachineLearning\\DataSets\\IPL IMB381IPL2013.csv")

print("ipl type is",type(ipl),"\n\n")

# DataFrame in the pandas library for Python is a two-dimensional(2D), mutable, tabular data structure with labeled axes (rows and columns)
print( pd.DataFrame(ipl))

ipl type is <class 'pandas.core.frame.DataFrame'>


     Sl.NO.   PLAYER NAME  AGE COUNTRY   TEAM PLAYING ROLE  T-RUNS  T-WKTS  \
0         1   Abdulla, YA    2      SA   KXIP   Allrounder       0       0
1         2  Abdur Razzak    2     BAN    RCB       Bowler     214      18
2         3   Agarkar, AB    2     IND    KKR       Bowler     571      58
3         4     Ashwin, R    1     IND    CSK       Bowler     284      31
4         5  Badrinath, S    2     IND    CSK      Batsman      63       0
..      ...           ...  ...     ...    ...          ...     ...     ...
125     126     Yadav, AS    2     IND     DC      Batsman       0       0
126     127   Younis Khan    2     PAK     RR      Batsman    6398       7
127     128  Yuvraj Singh    2     IND  KXIP+      Batsman    1775       9
128     129   Zaheer Khan    2     IND    MI+       Bowler    1114     288
129     130    Zoysa, DNT    2      SL     DC       Bowler     288      64

     ODI-RUNS-S  ODI-SR-B  ...    SR-B  SIXERS  RUNS-C  WKTS  AVE-BL   ECON  \
0             0      0.00  ...    0.00       0     307    15   20.47   8.90
1           657     71.41  ...    0.00       0      29     0    0.00  14.50
2          1269     80.62  ...  121.01       5    1059    29   36.52   8.81
3           241     84.56  ...   76.32       0    1125    49   22.96   6.23
4            79     45.93  ...  120.71      28       0     0    0.00   0.00
..          ...       ...  ...     ...     ...     ...   ...     ...    ...
125           0      0.00  ...  125.64       2       0     0    0.00   0.00
126        6814     75.78  ...   42.85       0       0     0    0.00   0.00
127        8051     87.58  ...  131.88      67     569    23   24.74   7.02
128         790     73.55  ...   91.67       1    1783    65   27.43   7.75
129         343     95.81  ...  122.22       0      99     2   49.50   9.00

     SR-BL  AUCTION YEAR  BASE PRICE  SOLD PRICE
0    13.93          2009       50000       50000
1     0.00          2008       50000       50000
2    24.90          2008      200000      350000
3    22.14          2011      100000      850000
4     0.00          2011      100000      800000
..     ...           ...         ...         ...
125   0.00          2010       50000      750000
126   0.00          2008      225000      225000
127  21.13          2011      400000     1800000
128  21.26          2008      200000      450000
129  33.00          2008      100000      110000

[130 rows x 26 columns]

In [2]:
# The head() method returns a specified number of rows, string from the top.
# The head() method returns the first 5 rows if a number is not specified.

print(ipl.head(5))

# to_string () method provide whole file data in to string format
print("\n\n"+ipl.to_string())

   Sl.NO.   PLAYER NAME  AGE COUNTRY  TEAM PLAYING ROLE  T-RUNS  T-WKTS  \
0       1   Abdulla, YA    2      SA  KXIP   Allrounder       0       0
1       2  Abdur Razzak    2     BAN   RCB       Bowler     214      18
2       3   Agarkar, AB    2     IND   KKR       Bowler     571      58
3       4     Ashwin, R    1     IND   CSK       Bowler     284      31
4       5  Badrinath, S    2     IND   CSK      Batsman      63       0

   ODI-RUNS-S  ODI-SR-B  ...    SR-B  SIXERS  RUNS-C  WKTS  AVE-BL   ECON  \
0           0      0.00  ...    0.00       0     307    15   20.47   8.90
1         657     71.41  ...    0.00       0      29     0    0.00  14.50
2        1269     80.62  ...  121.01       5    1059    29   36.52   8.81
3         241     84.56  ...   76.32       0    1125    49   22.96   6.23
4          79     45.93  ...  120.71      28       0     0    0.00   0.00

   SR-BL  AUCTION YEAR  BASE PRICE  SOLD PRICE
0  13.93          2009       50000       50000
1   0.00          2008       50000       50000
2  24.90          2008      200000      350000
3  22.14          2011      100000      850000
4   0.00          2011      100000      800000

[5 rows x 26 columns]


     Sl.NO.        PLAYER NAME  AGE COUNTRY   TEAM PLAYING ROLE  T-RUNS  T-WKTS  ODI-RUNS-S  ODI-SR-B  ODI-WKTS  ODI-SR-BL  CAPTAINCY EXP  RUNS-S   HS    AVE    SR-B  SIXERS  RUNS-C  WKTS  AVE-BL   ECON   SR-BL  AUCTION YEAR  BASE PRICE  SOLD PRICE
0         1        Abdulla, YA    2      SA   KXIP   Allrounder       0       0           0      0.00         0        0.0              0       0    0   0.00    0.00       0     307    15   20.47   8.90   13.93          2009       50000       50000
1         2       Abdur Razzak    2     BAN    RCB       Bowler     214      18         657     71.41       185       37.6              0       0    0   0.00    0.00       0      29     0    0.00  14.50    0.00          2008       50000       50000
2         3        Agarkar, AB    2     IND    KKR       Bowler     571      58        1269     80.62       288       32.9              0     167   39  18.56  121.01       5    1059    29   36.52   8.81   24.90          2008      200000      350000
3         4          Ashwin, R    1     IND    CSK       Bowler     284      31         241     84.56        51       36.8              0      58   11   5.80   76.32       0    1125    49   22.96   6.23   22.14          2011      100000      850000
4         5       Badrinath, S    2     IND    CSK      Batsman      63       0          79     45.93         0        0.0              0    1317   71  32.93  120.71      28       0     0    0.00   0.00    0.00          2011      100000      800000
5         6         Bailey, GJ    2     AUS    CSK      Batsman       0       0         172     72.26         0        0.0              1      63   48  21.00   95.45       0       0     0    0.00   0.00    0.00          2009       50000       50000
6         7          Balaji, L    2     IND   CSK+       Bowler      51      27         120     78.94        34       42.5              0      26   15   4.33   72.22       1    1342    52   25.81   7.98   19.40          2011      100000      500000
7         8      Bollinger, DE    2     AUS    CSK       Bowler      54      50          50     92.59        62       31.3              0      21   16  21.00  165.88       1     693    37   18.73   7.22   15.57          2011      200000      700000
8         9           Botha, J    2      SA     RR   Allrounder      83      17         609     85.77        72       53.0              1     335   67  30.45  114.73       3     610    19   32.11   6.85   28.11          2011      200000      950000
9        10        Boucher, MV    2      SA   RCB+    W. Keeper    5515       1        4686     84.76         0        0.0              1     394   50  28.14  127.51      13       0     0    0.00   0.00    0.00          2008      200000      450000
10       11          Bravo, DJ    2      WI    MI+   Allrounder    2200      86        2004     81.39       142       34.1              0     839   70  27.97  127.12      38    1338    47   28.47   8.12   21.11          2011      200000      200000
11       12     Chanderpaul, S    3      WI    RCB      Batsman    9918       9        8778     70.74        14       52.8              1      25   16   8.33   80.64       0       0     0    0.00   0.00    0.00          2008      200000      200000
12       13         Chawla, PP    1     IND   KXIP   Allrounder       5       3          38     65.51        32       41.0              0     337   24  13.48  113.09       9    1819    73  126.30  38.11  100.20          2008      125000      400000
13       14    de Villiers, AB    2      SA    DD+    W. Keeper    5457       2        4998     93.19         0        0.0              1    1302  105  34.26  128.53      42       0     0    0.00   0.00    0.00          2008      200000      300000
14       15          Dhawan, S    2     IND    MI+      Batsman       0       0          69     56.09         0        0.0              0    1540   95  31.43  122.32      36      66     4   16.50   8.25   12.00          2011      100000      300000
15       16          Dhoni, MS    2     IND    CSK    W. Keeper    3509       0        6773     88.19         1       12.0              1    1782   70  37.13  136.45      64       0     0    0.00   0.00    0.00          2008      400000     1500000
16       17        Dilshan, TM    2      SL    DD+   Allrounder    4722      32        6455     86.80        67       58.3              1    1077   76  28.34  117.83      24     356     5   71.20   8.07   53.00          2008      150000      250000
17       18          Dinda, AB    2     IND   KKR+       Bowler       0       0          18     60.00         5       61.4              0       6    2   1.00   33.33       0     926    36   25.72   7.29   21.19          2011      100000      375000
18       19         Dravid, RS    3     IND   RCB+      Batsman   13288       1       10889     71.24         4       46.5              1    1703   75  27.92  116.88      23       0     0    0.00   0.00    0.00          2011      400000      500000
19       20        Duminy, J-P    2      SA    MI+      Batsman     654      11        2536     84.00        25       47.6              0     978   74  36.22  119.27      35     377    10   37.70   7.11   31.80          2009      300000      300000
20       21        Edwards, FH    2      WI     DC       Bowler     380     157          73     45.62        60       35.6              0       4    3   4.00   80.00       0     154     5   30.80   6.60   28.00          2009      150000      150000
21       22      Fernando, CRD    2      SL     MI       Bowler     249      97         239     60.96       187       34.7              0       4    2   0.00  133.33       0     298    17   17.53   7.64   13.76          2008      150000      150000
22       23        Fleming, SP    3      NZ    CSK      Batsman    7172       0        8037     71.49         1       29.0              1     196   45  21.77  118.78       3       0     0    0.00   0.00    0.00          2008      350000      350000
23       24        Flintoff, A    2     ENG    CSK   Allrounder    3845     226        3394     88.82       169       33.2              1      62   24  31.00  116.98       2     105     2   52.50   9.55   33.00          2009      950000     1550000
24       25         Gambhir, G    2     IND    DD+      Batsman    3712       0        4819     86.17         0        0.0              1    2065   93  33.31  128.90      32       0     0    0.00   0.00    0.00          2008      220000      725000
25       26        Ganguly, SC    3     IND   KKR+      Batsman    7212      32       11363     73.70       100       45.6              1    1349   91  25.45  106.81      42     363    10   36.30   7.89   27.60          2011      200000      400000
26       27          Gayle, CH    2      WI   KKR+   Allrounder    6373      72        8087     83.95       156       44.4              1    1804  128  50.11  161.79     129     606    13   46.62   8.05   34.85          2008      250000      800000
27       28          Gibbs, HH    3      SA     DC      Batsman    6167       0        8094     83.26         0        0.0              1     886   69  27.69  109.79      31       0     0    0.00   0.00    0.00          2008      250000      575000
28       29      Gilchrist, AC    3     AUS    DC+    W. Keeper    5570       0        9619     96.94         0        0.0              1    1775  109  27.73  140.21      86       0     0    0.00   0.00    0.00          2008      300000      700000
29       30           Gony, MS    2     IND   CSK+       Bowler       0       0           0      0.00         2       39.0              0      54   15   9.00  117.39       5     999    30   33.30   8.47   23.60          2011       50000      290000
30       31    Harbhajan Singh    2     IND     MI       Bowler    2164     406        1190     80.51       259       46.5              1     430   49  16.54  151.41      22    1469    54   27.20   6.85   23.83          2008      250000      850000
31       32         Harris, RJ    2     AUS    DC+       Bowler     199      46          48    100.00        44       23.4              0     115   17  10.45  107.48       3     975    44   22.16   7.71   17.27          2011      200000      325000
32       33         Hayden, ML    3     AUS    CSK      Batsman    8625       0        6133     78.96         0        0.0              0    1107   93  36.90  137.52      44       0     0    0.00   0.00    0.00          2008      225000      375000
33       34       Henderson, T    3      SA     RR   Allrounder       0       0           0      0.00         0        0.0              0      11   11   5.50   68.75       1      40     1   40.00   6.66   36.00          2009      100000      650000
34       35      Henriques, MC    1     AUS   KKR+   Allrounder       0       0          18     60.00         1       90.0              0      49   30  16.33  108.89       1     142     3   47.33   8.82   32.33          2011       50000       50000
35       36          Hodge, BJ    3     AUS   KKR+      Batsman     503       0         575     87.51         1       66.0              0    1006   73  31.44  121.50      28     300    17   17.65   7.89   13.41          2011      200000      425000
36       37          Hopes, JR    2     AUS   KXIP   Allrounder       0       0        1326     93.71        67       47.1              0     417   71  26.06  136.27      11     548    14   39.14   9.13   25.71          2011      200000      350000
37       38         Hussey, DJ    2     AUS   KKR+   Allrounder       0       0        1488     91.40        18       36.2              0     971   71  26.24  125.78      48     345     6   57.50   8.85   39.00          2008      100000      625000
38       39        Hussey, MEK    3     AUS    CSK      Batsman    5708       7        5262     86.97         2      117.0              1     958  116  39.92  120.65      25       0     0    0.00   0.00    0.00          2008      250000      250000
39       40         Jadeja, RA    1     IND    RR+   Allrounder       0       0         860     78.61        57       46.2              0     904   48  23.18  120.86      35     750    26   28.85   7.33   23.65          2011      100000      950000
40       41          Jaffer, W    2     IND    RCB   Allrounder    1944       2          10     43.47         0        0.0              0     130   50  16.25  107.44       3       0     0    0.00   0.00    0.00          2008      150000      150000
41       42     Jayasuriya, ST    3      SL     MI   Allrounder    6973      98       13430     91.21       323       46.0              1     768  114  27.43  144.36      39     390    13   30.00   7.96   22.62          2008      250000      975000
42       43  Jayawardena, DPMD    2      SL  KXIP+      Batsman   10440       6       10596     78.08         7       83.1              1    1471  110  30.65  128.02      33       0     0    0.00   0.00    0.00          2008      250000      475000
43       44            Kaif, M    2     IND    RR+      Batsman     624       0        2753     72.03         0        0.0              0     259   34  14.39  103.60       6       0     0    0.00   0.00    0.00          2008      125000      675000
44       45         Kallis, JH    3      SA    RCB   Allrounder   12379     276       11498     72.97       270       39.3              1    1965   89  30.70  110.95      37    1713    45   38.07   7.96   28.71          2008      225000      900000
45       46       Kamran Akmal    2     PAK     RR    W. Keeper    2648       0        2924     84.31         0        0.0              0     128   53  25.60  164.10       8       0     0    0.00   0.00    0.00          2008      150000      150000
46       47        Kamran Khan    1     IND    RR+       Bowler       0       0           0      0.00         0        0.0              0       3    3   3.00   60.00       0     224     9   24.89   8.48   17.78          2009       20000       24000
47       48        Karthik, KD    2     IND    DD+    W. Keeper    1000       0        1008     74.50         0        0.0              0    1231   69  24.14  123.84      28       0     0    0.00   0.00    0.00          2008      200000      525000
48       49          Kartik, M    2     IND   KKR+       Bowler      88      24         126     70.78        37       51.5              0     111   21  18.50  105.71       1    1013    21   48.24   7.02   41.33          2008      200000      425000
49       50         Katich, SM    3     AUS   KXIP      Batsman    4188      21        1324     68.74         0        0.0              0     241   75  24.10  129.57       8       0     0    0.00   0.00    0.00          2008      200000      200000
50       51           Kohli, V    1     IND    RCB      Batsman     491       0        3590     86.31         2      137.0              1    1639   73  28.26  119.29      49     345     4   86.25   8.84   58.50          2011      150000     1800000
51       52           Kumar, P    1     IND   RCB+       Bowler     149      27         292     88.21        77       42.1              0     243   34  10.57  114.08      14    1919    53   36.21   7.73   28.11          2011      200000      800000
52       53          Kumble, A    3     IND    RCB       Bowler    2506     619         938     61.06       337       43.0              1      35    8  11.67   74.47       0     105     2   52.50   9.55   33.00          2008      250000      500000
53       54     Langeveldt, CK    3      SA   KKR+       Bowler      16      16          73     58.87       100       34.8              0       8    8   4.00   88.89       1     187    13   14.38   7.19   12.00          2011      100000      140000
54       55        Laxman, VVS    3     IND    DC+      Batsman    8781       2        2338     71.23         0        0.0              1     282   52  15.67  105.62       5       0     0    0.00   0.00    0.00          2008      150000      375000
55       56             Lee, B    2     AUS   KXI+       Bowler    1451     310        1100     82.45       377       29.2              0     103   25  11.44  121.18       6    1009    21   48.05   7.56   38.24          2008      300000      900000
56       57       Maharoof, MF    2      SL     DD   Allrounder     556      25        1042     84.44       133       33.3              0     177   39  17.70  143.90       9     520    27   19.26   7.43   15.56          2008      150000      225000
57       58        Malinga, SL    2      SL     MI       Bowler     275     101         327     73.81       185       31.1              0      64   17   5.82  100.00       4    1381    83   16.64   6.36   15.69          2008      200000      350000
58       59    Mascarenhas, AD    2     ENG    RR+   Allrounder       0       0         245     95.33        13       63.2              0      74   27   8.22  101.37       1     331    19   17.42   7.01   14.95          2011      100000      100000
59       60        Mathews, AD    1      SL   KKR+   Allrounder    1219       7        1447     82.59        42       43.0              0     376   65  25.07  123.28      12     537    15   35.80   8.20   26.33          2011      300000      950000
60       61       McCullum, BB    2      NZ   KKR+    W. Keeper    3763       0        4511     89.62         0        0.0              1    1233  158  28.02  123.42      48       0     0    0.00   0.00    0.00          2008      175000      700000
61       62       McDonald, AB    2     AUS    DD+   Allrounder     107       9           0      0.00         0        0.0              0     123   33  30.75  125.51       4     244    10   24.40   8.41   17.40          2011       50000       80000
62       63        McGrath, GD    3     AUS     DD       Bowler     641     563         115     48.72       381       34.0              0       4    4   4.00   80.00       0     357    12   29.75   6.61   27.00          2008      350000      350000
63       64      Misbah-ul-Haq    3     PAK    RCB      Batsman    2173       0        2763     75.10         0        0.0              1     117   47  16.71  144.44       6       0     0    0.00   0.00    0.00          2010      100000      100000
64       65          Mishra, A    2     IND    DD+       Bowler     392      43           5     27.77        19       40.1              0     186   31  10.94  102.20       3    1530    74   20.68   7.11   17.46          2011      100000      300000
65       66          Mithun, A    1     IND    RCB       Bowler     120       9          51     92.72         3       60.0              0      32   11   8.00  133.33       1     435     6   72.50   9.89   44.00          2011      100000      260000
66       67      Mohammad Asif    2     PAK     DD       Bowler     141     106          34     34.00        46       42.1              0       3    3   1.50   50.00       0     296     8   37.00   9.25   24.00          2008      225000      650000
67       68         Morkel, JA    2      SA    CSK   Allrounder      58       1         782    100.25        50       41.4              0     781   71  24.41  146.25      45    1899    69   27.52   8.25   20.01          2008      225000      675000
68       69          Morkel, M    2      SA    RR+       Bowler     555     139         117     75.97        94       28.5              0      60   16  10.00  111.11       2     884    38   23.26   7.37   18.95          2011      100000      475000
69       70    Muralitharan, M    3      SL   CSK+       Bowler    1261     800         674     77.56       534       35.2              0      20    6   3.33   66.67       0    1395    57   24.47   6.49   22.63          2008      250000      600000
70       71         Nannes, DP    3     AUS    DD+       Bowler       0       0           1     50.00         1       42.0              0       4    3   4.00   30.77       0     627    24   26.13   7.17   21.92          2011      200000      650000
71       72          Nayar, AM    2     IND    MI+   Allrounder       0       0           0      0.00         0        0.0              0     563   35  19.41  123.19      19     263     7   37.57   8.74   25.86          2011       50000      800000
72       73           Nehra, A    2     IND    DD+       Bowler      77      44         141     57.31       157       36.6              0      38   22  19.00   82.61       1    1192    48   24.83   7.57   19.73          2011      200000      850000
73       74         Noffke, AA    2     AUS    RCB   Allrounder       0       0           0      0.00         1       54.0              0       9    9   9.00   90.00       0      40     1   40.00  10.00   24.00          2010       20000       20000

In [3]:
# .info() is a method of pandas DataFrame that gives a summary of your data.
# It’s very useful to quickly understand your dataset.
# Number of rows and columns
# Column names
# Non-null values in each column (helps detect missing data)
# Data type of each column (int, float, object, etc.)
# Memory usage of the DataFrame

print("info",ipl.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sl.NO.         130 non-null    int64
 1   PLAYER NAME    130 non-null    object
 2   AGE            130 non-null    int64
 3   COUNTRY        130 non-null    object
 4   TEAM           130 non-null    object
 5   PLAYING ROLE   130 non-null    object
 6   T-RUNS         130 non-null    int64
 7   T-WKTS         130 non-null    int64
 8   ODI-RUNS-S     130 non-null    int64
 9   ODI-SR-B       130 non-null    float64
 10  ODI-WKTS       130 non-null    int64
 11  ODI-SR-BL      130 non-null    float64
 12  CAPTAINCY EXP  130 non-null    int64
 13  RUNS-S         130 non-null    int64
 14  HS             130 non-null    int64
 15  AVE            130 non-null    float64
 16  SR-B           130 non-null    float64
 17  SIXERS         130 non-null    int64
 18  RUNS-C         130 non-null    int64
 19  WKTS           130 non-null    int64
 20  AVE-BL         130 non-null    float64
 21  ECON           130 non-null    float64
 22  SR-BL          130 non-null    float64
 23  AUCTION YEAR   130 non-null    int64
 24  BASE PRICE     130 non-null    int64
 25  SOLD PRICE     130 non-null    int64
dtypes: float64(7), int64(15), object(4)
memory usage: 26.5+ KB
info None

In [4]:
# .tail() is a pandas method that shows the last few rows of a DataFrame.
# By default, it shows the last 5 rows, but you can change the number.

print("tail", ipl.tail())

tale      Sl.NO.   PLAYER NAME  AGE COUNTRY   TEAM PLAYING ROLE  T-RUNS  T-WKTS  \
125     126     Yadav, AS    2     IND     DC      Batsman       0       0
126     127   Younis Khan    2     PAK     RR      Batsman    6398       7
127     128  Yuvraj Singh    2     IND  KXIP+      Batsman    1775       9
128     129   Zaheer Khan    2     IND    MI+       Bowler    1114     288
129     130    Zoysa, DNT    2      SL     DC       Bowler     288      64

     ODI-RUNS-S  ODI-SR-B  ...    SR-B  SIXERS  RUNS-C  WKTS  AVE-BL  ECON  \
125           0      0.00  ...  125.64       2       0     0    0.00  0.00
126        6814     75.78  ...   42.85       0       0     0    0.00  0.00
127        8051     87.58  ...  131.88      67     569    23   24.74  7.02
128         790     73.55  ...   91.67       1    1783    65   27.43  7.75
129         343     95.81  ...  122.22       0      99     2   49.50  9.00

     SR-BL  AUCTION YEAR  BASE PRICE  SOLD PRICE
125   0.00          2010       50000      750000
126   0.00          2008      225000      225000
127  21.13          2011      400000     1800000
128  21.26          2008      200000      450000
129  33.00          2008      100000      110000

[5 rows x 26 columns]

In [5]:
# .shape tells you the size of a DataFrame (rows × columns).
# It returns a tuple: (number_of_rows, number_of_columns)

print("shape",ipl.shape)

shape (130, 26)

In [6]:
print("pd data",ipl[0:5])

pd data    Sl.NO.   PLAYER NAME  AGE COUNTRY  TEAM PLAYING ROLE  T-RUNS  T-WKTS  \
0       1   Abdulla, YA    2      SA  KXIP   Allrounder       0       0
1       2  Abdur Razzak    2     BAN   RCB       Bowler     214      18
2       3   Agarkar, AB    2     IND   KKR       Bowler     571      58
3       4     Ashwin, R    1     IND   CSK       Bowler     284      31
4       5  Badrinath, S    2     IND   CSK      Batsman      63       0

   ODI-RUNS-S  ODI-SR-B  ...    SR-B  SIXERS  RUNS-C  WKTS  AVE-BL   ECON  \
0           0      0.00  ...    0.00       0     307    15   20.47   8.90
1         657     71.41  ...    0.00       0      29     0    0.00  14.50
2        1269     80.62  ...  121.01       5    1059    29   36.52   8.81
3         241     84.56  ...   76.32       0    1125    49   22.96   6.23
4          79     45.93  ...  120.71      28       0     0    0.00   0.00

   SR-BL  AUCTION YEAR  BASE PRICE  SOLD PRICE
0  13.93          2009       50000       50000
1   0.00          2008       50000       50000
2  24.90          2008      200000      350000
3  22.14          2011      100000      850000
4   0.00          2011      100000      800000

[5 rows x 26 columns]

In [7]:
print("pd data",ipl[-5:])

pd data      Sl.NO.   PLAYER NAME  AGE COUNTRY   TEAM PLAYING ROLE  T-RUNS  T-WKTS  \
125     126     Yadav, AS    2     IND     DC      Batsman       0       0
126     127   Younis Khan    2     PAK     RR      Batsman    6398       7
127     128  Yuvraj Singh    2     IND  KXIP+      Batsman    1775       9
128     129   Zaheer Khan    2     IND    MI+       Bowler    1114     288
129     130    Zoysa, DNT    2      SL     DC       Bowler     288      64

     ODI-RUNS-S  ODI-SR-B  ...    SR-B  SIXERS  RUNS-C  WKTS  AVE-BL  ECON  \
125           0      0.00  ...  125.64       2       0     0    0.00  0.00
126        6814     75.78  ...   42.85       0       0     0    0.00  0.00
127        8051     87.58  ...  131.88      67     569    23   24.74  7.02
128         790     73.55  ...   91.67       1    1783    65   27.43  7.75
129         343     95.81  ...  122.22       0      99     2   49.50  9.00

     SR-BL  AUCTION YEAR  BASE PRICE  SOLD PRICE
125   0.00          2010       50000      750000
126   0.00          2008      225000      225000
127  21.13          2011      400000     1800000
128  21.26          2008      200000      450000
129  33.00          2008      100000      110000

[5 rows x 26 columns]

In [8]:
# ipl['PLAYER NAME'] Here, ipl is a pandas DataFrame.
#    ipl['PLAYER NAME'] selects the column named "PLAYER NAME".
#    The result is a pandas Series containing all player names.

# [0:5]
#     This is Python slicing.
#     It takes the first 5 rows (index 0 to 4) from that column.
#     print("pd data", ...)
#     It prints the text "pd data" followed by those 5 player names.
# SElecting columns by name
print("pd data",ipl['PLAYER NAME'][0:5])

print("\n\n")

# Selecting columns by name
print("pd data",ipl[['PLAYER NAME','BASE PRICE']][0:5])

pd data 0     Abdulla, YA
1    Abdur Razzak
2     Agarkar, AB
3       Ashwin, R
4    Badrinath, S
Name: PLAYER NAME, dtype: object



pd data     PLAYER NAME  BASE PRICE
0   Abdulla, YA       50000
1  Abdur Razzak       50000
2   Agarkar, AB      200000
3     Ashwin, R      100000
4  Badrinath, S      100000

In [9]:
# Selecting rows and columns by index

# 1. Using .iloc[] → Index-based selection (position numbers)
# Works like normal Python indexing (0-based).
# Syntax: df.iloc[row_index, column_index]

# First row, first column
print(ipl.iloc[0, 0])

# First 5 rows, first 2 columns
print("\n\n",ipl.iloc[0:5, 0:2])

# Specific rows and columns by index list
print("\n\n",ipl.iloc[[0, 2, 4], [0, 1]])

1


    Sl.NO.   PLAYER NAME
0       1   Abdulla, YA
1       2  Abdur Razzak
2       3   Agarkar, AB
3       4     Ashwin, R
4       5  Badrinath, S


    Sl.NO.   PLAYER NAME
0       1   Abdulla, YA
2       3   Agarkar, AB
4       5  Badrinath, S

<h4>2. Using .loc[] → Label-based selection (row/column names)</h4>
<li>Works with row labels (index values) and column names.</li>
<li><b>Syntax:</b> df.loc[row_label, column_label]</li>

In [10]:
# First 5 rows of PLAYER NAME column
print(ipl.loc[0:4, "PLAYER NAME"])

# Select multiple columns by name
print("\n\n",ipl.loc[0:4, ["PLAYER NAME", "TEAM"]])

# Select specific rows (by index) and specific columns
print("\n\n",ipl.loc[[0, 2, 4], ["PLAYER NAME", "TEAM"]])

0     Abdulla, YA
1    Abdur Razzak
2     Agarkar, AB
3       Ashwin, R
4    Badrinath, S
Name: PLAYER NAME, dtype: object


     PLAYER NAME  TEAM
0   Abdulla, YA  KXIP
1  Abdur Razzak   RCB
2   Agarkar, AB   KKR
3     Ashwin, R   CSK
4  Badrinath, S   CSK


     PLAYER NAME  TEAM
0   Abdulla, YA  KXIP
2   Agarkar, AB   KKR
4  Badrinath, S   CSK

In [11]:
#  counts occurence of values in dataset
ipl.COUNTRY.value_counts()
print("\n",ipl["PLAYER NAME"].value_counts())

 PLAYER NAME
Abdulla, YA     1
Abdur Razzak    1
Agarkar, AB     1
Ashwin, R       1
Badrinath, S    1
               ..
Yadav, AS       1
Younis Khan     1
Yuvraj Singh    1
Zaheer Khan     1
Zoysa, DNT      1
Name: count, Length: 130, dtype: int64

In [12]:
# 👉 It makes a table that shows:
# It creates a frequency table (cross-tabulation) between two or more categorical variables.
# On the left side (rows) → Ages of players
# On the top side (columns) → Playing roles
#Inside the table → How many players of that AGE have that PLAYING ROLE

pd.crosstab(ipl['AGE'], ipl['PLAYING ROLE'])

PLAYING ROLE  Allrounder  Batsman  Bowler  W. Keeper
AGE
1                      4        5       7          0
2                     25       21      29         11
3                      6       13       8          1

In [13]:
#sorting
ipl[['PLAYER NAME','SOLD PRICE']].sort_values('SOLD PRICE')[0:5]

      PLAYER NAME  SOLD PRICE
73     Noffke, AA       20000
46    Kamran Khan       24000
5      Bailey, GJ       50000
0     Abdulla, YA       50000
34  Henriques, MC       50000

In [14]:
#sorting
ipl[['PLAYER NAME','SOLD PRICE']].sort_values('SOLD PRICE',ascending = False)[0:5]

       PLAYER NAME  SOLD PRICE
127   Yuvraj Singh     1800000
50        Kohli, V     1800000
111  Tendulkar, SR     1800000
93       Sehwag, V     1800000
113     Tiwary, SS     1600000

In [15]:
# 🔹 sorting

# sort_values() → sorts DataFrame by column values
# sort_index() → sorts DataFrame by row/column index
# Can sort ascending/descending
# Can sort by multiple columns with different orders
# Use [0:5] or .head(5) after sorting to get top 5

#🔹 1. Sort by Column Value
ipl.sort_values(by="SOLD PRICE")

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
73,74,"Noffke, AA",2,AUS,RCB,Allrounder,0,0,0,0.00,...,90.00,0,40,1,40.00,10.00,24.00,2010,20000,20000
46,47,Kamran Khan,1,IND,RR+,Bowler,0,0,0,0.00,...,60.00,0,224,9,24.89,8.48,17.78,2009,20000,24000
5,6,"Bailey, GJ",2,AUS,CSK,Batsman,0,0,172,72.26,...,95.45,0,0,0,0.00,0.00,0.00,2009,50000,50000
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
34,35,"Henriques, MC",1,AUS,KKR+,Allrounder,0,0,18,60.00,...,108.89,1,142,3,47.33,8.82,32.33,2011,50000,50000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,114,"Tiwary, SS",1,IND,MI+,Batsman,0,0,49,87.50,...,119.60,32,0,0,0.00,0.00,0.00,2011,100000,1600000
50,51,"Kohli, V",1,IND,RCB,Batsman,491,0,3590,86.31,...,119.29,49,345,4,86.25,8.84,58.50,2011,150000,1800000
93,94,"Sehwag, V",2,IND,DD,Batsman,8178,40,8090,104.68,...,167.32,79,226,6,37.67,10.56,21.67,2011,400000,1800000
127,128,Yuvraj Singh,2,IND,KXIP+,Batsman,1775,9,8051,87.58,...,131.88,67,569,23,24.74,7.02,21.13,2011,400000,1800000
111,112,"Tendulkar, SR",3,IND,MI,Batsman,15470,45,18426,86.23,...,119.22,24,58,0,0.00,9.67,0.00,2011,400000,1800000

In [16]:
ipl.sort_values(by="SOLD PRICE", ascending=False)

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
127,128,Yuvraj Singh,2,IND,KXIP+,Batsman,1775,9,8051,87.58,...,131.88,67,569,23,24.74,7.02,21.13,2011,400000,1800000
50,51,"Kohli, V",1,IND,RCB,Batsman,491,0,3590,86.31,...,119.29,49,345,4,86.25,8.84,58.50,2011,150000,1800000
111,112,"Tendulkar, SR",3,IND,MI,Batsman,15470,45,18426,86.23,...,119.22,24,58,0,0.00,9.67,0.00,2011,400000,1800000
93,94,"Sehwag, V",2,IND,DD,Batsman,8178,40,8090,104.68,...,167.32,79,226,6,37.67,10.56,21.67,2011,400000,1800000
113,114,"Tiwary, SS",1,IND,MI+,Batsman,0,0,49,87.50,...,119.60,32,0,0,0.00,0.00,0.00,2011,100000,1600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,35,"Henriques, MC",1,AUS,KKR+,Allrounder,0,0,18,60.00,...,108.89,1,142,3,47.33,8.82,32.33,2011,50000,50000
118,119,Van der Merwe,2,SA,RCB+,Allrounder,0,0,39,95.12,...,118.10,8,427,18,23.72,6.83,20.94,2011,50000,50000
85,86,"Pomersbach, LA",2,AUS,KXIP+,Batsman,0,0,0,0.00,...,130.48,12,0,0,0.00,0.00,0.00,2011,20000,50000
46,47,Kamran Khan,1,IND,RR+,Bowler,0,0,0,0.00,...,60.00,0,224,9,24.89,8.48,17.78,2009,20000,24000
73,74,"Noffke, AA",2,AUS,RCB,Allrounder,0,0,0,0.00,...,90.00,0,40,1,40.00,10.00,24.00,2010,20000,20000

In [17]:
# 🔹 2. Sort by Multiple Columns
ipl.sort_values(by=["TEAM", "SOLD PRICE"], ascending=[True, False])

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
23,24,"Flintoff, A",2,ENG,CSK,Allrounder,3845,226,3394,88.82,...,116.98,2,105,2,52.50,9.55,33.00,2009,950000,1550000
15,16,"Dhoni, MS",2,IND,CSK,W. Keeper,3509,0,6773,88.19,...,136.45,64,0,0,0.00,0.00,0.00,2008,400000,1500000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000
7,8,"Bollinger, DE",2,AUS,CSK,Bowler,54,50,50,92.59,...,165.88,1,693,37,18.73,7.22,15.57,2011,200000,700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,80,"Patel, MM",2,IND,RR+,Bowler,60,35,74,66.07,...,235.49,0,1504,70,21.49,7.39,17.47,2008,100000,275000
75,76,"Ojha, NV",2,IND,RR+,W. Keeper,0,0,1,14.28,...,117.94,50,0,0,0.00,0.00,0.00,2011,100000,270000
103,104,"Smith, GC",2,SA,RR+,Batsman,8042,8,6598,81.58,...,110.63,9,0,0,0.00,0.00,0.00,2008,250000,250000
58,59,"Mascarenhas, AD",2,ENG,RR+,Allrounder,0,0,245,95.33,...,101.37,1,331,19,17.42,7.01,14.95,2011,100000,100000
46,47,Kamran Khan,1,IND,RR+,Bowler,0,0,0,0.00,...,60.00,0,224,9,24.89,8.48,17.78,2009,20000,24000

In [18]:
# 🔹 3. Sort by Index
ipl.sort_index()

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,...,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,...,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,126,"Yadav, AS",2,IND,DC,Batsman,0,0,0,0.00,...,125.64,2,0,0,0.00,0.00,0.00,2010,50000,750000
126,127,Younis Khan,2,PAK,RR,Batsman,6398,7,6814,75.78,...,42.85,0,0,0,0.00,0.00,0.00,2008,225000,225000
127,128,Yuvraj Singh,2,IND,KXIP+,Batsman,1775,9,8051,87.58,...,131.88,67,569,23,24.74,7.02,21.13,2011,400000,1800000
128,129,Zaheer Khan,2,IND,MI+,Bowler,1114,288,790,73.55,...,91.67,1,1783,65,27.43,7.75,21.26,2008,200000,450000
129,130,"Zoysa, DNT",2,SL,DC,Bowler,288,64,343,95.81,...,122.22,0,99,2,49.50,9.00,33.00,2008,100000,110000

In [19]:
ipl.sort_index(ascending=False)

,Sl.NO.,PLAYER NAME,AGE,COUNTRY,TEAM,PLAYING ROLE,T-RUNS,T-WKTS,ODI-RUNS-S,ODI-SR-B,...,SR-B,SIXERS,RUNS-C,WKTS,AVE-BL,ECON,SR-BL,AUCTION YEAR,BASE PRICE,SOLD PRICE
129,130,"Zoysa, DNT",2,SL,DC,Bowler,288,64,343,95.81,...,122.22,0,99,2,49.50,9.00,33.00,2008,100000,110000
128,129,Zaheer Khan,2,IND,MI+,Bowler,1114,288,790,73.55,...,91.67,1,1783,65,27.43,7.75,21.26,2008,200000,450000
127,128,Yuvraj Singh,2,IND,KXIP+,Batsman,1775,9,8051,87.58,...,131.88,67,569,23,24.74,7.02,21.13,2011,400000,1800000
126,127,Younis Khan,2,PAK,RR,Batsman,6398,7,6814,75.78,...,42.85,0,0,0,0.00,0.00,0.00,2008,225000,225000
125,126,"Yadav, AS",2,IND,DC,Batsman,0,0,0,0.00,...,125.64,2,0,0,0.00,0.00,0.00,2010,50000,750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,5,"Badrinath, S",2,IND,CSK,Batsman,63,0,79,45.93,...,120.71,28,0,0,0.00,0.00,0.00,2011,100000,800000
3,4,"Ashwin, R",1,IND,CSK,Bowler,284,31,241,84.56,...,76.32,0,1125,49,22.96,6.23,22.14,2011,100000,850000
2,3,"Agarkar, AB",2,IND,KKR,Bowler,571,58,1269,80.62,...,121.01,5,1059,29,36.52,8.81,24.90,2008,200000,350000
1,2,Abdur Razzak,2,BAN,RCB,Bowler,214,18,657,71.41,...,0.00,0,29,0,0.00,14.50,0.00,2008,50000,50000
0,1,"Abdulla, YA",2,SA,KXIP,Allrounder,0,0,0,0.00,...,0.00,0,307,15,20.47,8.90,13.93,2009,50000,50000

In [20]:
#👉 Sort columns alphabetically:
ipl.sort_index(axis=1)

,AGE,AUCTION YEAR,AVE,AVE-BL,BASE PRICE,CAPTAINCY EXP,COUNTRY,ECON,HS,ODI-RUNS-S,...,RUNS-S,SIXERS,SOLD PRICE,SR-B,SR-BL,Sl.NO.,T-RUNS,T-WKTS,TEAM,WKTS
0,2,2009,0.00,20.47,50000,0,SA,8.90,0,0,...,0,0,50000,0.00,13.93,1,0,0,KXIP,15
1,2,2008,0.00,0.00,50000,0,BAN,14.50,0,657,...,0,0,50000,0.00,0.00,2,214,18,RCB,0
2,2,2008,18.56,36.52,200000,0,IND,8.81,39,1269,...,167,5,350000,121.01,24.90,3,571,58,KKR,29
3,1,2011,5.80,22.96,100000,0,IND,6.23,11,241,...,58,0,850000,76.32,22.14,4,284,31,CSK,49
4,2,2011,32.93,0.00,100000,0,IND,0.00,71,79,...,1317,28,800000,120.71,0.00,5,63,0,CSK,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,2,2010,9.80,0.00,50000,0,IND,0.00,16,0,...,49,2,750000,125.64,0.00,126,0,0,DC,0
126,2,2008,3.00,0.00,225000,1,PAK,0.00,3,6814,...,3,0,225000,42.85,0.00,127,6398,7,RR,0
127,2,2011,26.32,24.74,400000,1,IND,7.02,66,8051,...,1237,67,1800000,131.88,21.13,128,1775,9,KXIP+,23
128,2,2008,9.90,27.43,200000,0,IND,7.75,23,790,...,99,1,450000,91.67,21.26,129,1114,288,MI+,65
129,2,2008,11.00,49.50,100000,0,SL,9.00,10,343,...,11,0,110000,122.22,33.00,130,288,64,DC,2

In [21]:
# 🔹 4. With Slicing / Head

ipl[['PLAYER NAME','SOLD PRICE']].sort_values('SOLD PRICE').head(5)

      PLAYER NAME  SOLD PRICE
73     Noffke, AA       20000
46    Kamran Khan       24000
5      Bailey, GJ       50000
0     Abdulla, YA       50000
34  Henriques, MC       50000

In [22]:
# 👉 Shows 5 most expensive players
ipl[['PLAYER NAME','SOLD PRICE']].sort_values('SOLD PRICE', ascending=False).head(5)

       PLAYER NAME  SOLD PRICE
127   Yuvraj Singh     1800000
50        Kohli, V     1800000
111  Tendulkar, SR     1800000
93       Sehwag, V     1800000
113     Tiwary, SS     1600000

| Function                       | What it does                     |
| ------------------------------ | -------------------------------- |
| `sort_values("col")`           | Sort by column values            |
| `sort_values(["col1","col2"])` | Sort by multiple columns         |
| `sort_index()`                 | Sort rows by index               |
| `sort_index(axis=1)`           | Sort columns by name             |
| `ascending=True/False`         | Order (low → high or high → low) |
| `.head(5)` or `[0:5]`          | Get top 5 rows after sorting     |

In [ ]:
# 👉